body {
    margin: 0;
}


.mainbg {
    background: #f0f2f5;
    padding-bottom: 50px;
}

.face {
    height: 101px;
    padding-left: 608px;
    padding-top: 3px;
}


.formdiv {
    background-color: #f0f2f5;
}

.fillup {
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 555px;
    margin-bottom: 256px;
    margin-top: 6px;
    width: 433px;
    height: 580px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    position: relative;
    top: 1px;
    right: 2px;
    left: -3px;
}

.label1 {
    font-size: 25px;
    line-height: 32px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-ser;
    font-weight: 600;
    color: #1c1e21;
    padding-top: 9px;
    padding-left: 85px;
}



.label2 {
    font-size: 15px;
    line-height: 24px;
    padding-left: 151px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    color: #606770;
    font-weight: normal;
}


.hrtag {
    margin-top: 10px;
    border-top: 1px solid #dadde1;
}



input::placeholder {
    color: #8D94A1;
}




.firstname {
    width: 194px;
    height: 40px;
    padding: 11px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 13px;
    margin-top: 4px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}



.surname {
    width: 194px;
    height: 40px;
    padding: 11px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: right;
    margin-left: 218px;
    margin-top: -43px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


.email {
    width: 399px;
    height: 39px;
    padding: 11px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: right;
    margin-left: 0;
    margin-top: 3px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


.password {
    width: 399px;
    height: 39px;
    padding: 11px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: right;
    margin-left: 0;
    margin-top: 6px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;

}


.labelDOB {
    margin-bottom: -3px;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 12px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    color: #606770;
    float: left;
}


.question {
    width: 13px;
    height: 13px;
    object-fit: cover;
    object-position: bottom;
    float: right;
    margin-right: 318px;
    margin-top: -13px;
    cursor: pointer;
}


.day {
    width: 125px;
    height: 36px;
    padding: 11px;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-left: 3px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}


.month {
    width: 125px;
    height: 36px;
    padding: 11px;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-left: 3px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: normal;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}


.year {
    width: 125px;
    height: 36px;
    padding: 11px;
    padding-bottom: 6px;
    padding-top: 8px;
    padding-left: 3px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: normal;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}




.labelgender {
    margin-bottom: -3px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 12px;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    color: #606770;
    float: left;
}


.genderqustion {
    width: 13px;
    height: 13px;
    object-fit: cover;
    object-position: bottom;
    float: right;
    margin-right: 344px;
    margin-top: -14px;
    cursor: pointer;
}


.female {
    width: 130px;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 8px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.femalebutton {
    margin-left: 45px;
    margin-top: 3px;
    float: right;
}



.male {
    width: 113px;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 8px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.malebutton {
    margin-left: 45px;
    margin-top: 3px;
    float: right;
}



.custom {
    width: 130px;
    height: 36px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 8px;
    box-sizing: border-box;
    border: 0.5px solid #CCD0D5;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 4px;
    font-size: 15px;
    outline: none;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.custombutton {
    margin-left: 45px;
    margin-top: 3px;
    float: right;
}

.divlabel3 {
    margin-left: 12px;
    margin-top: -2px;
}

.label3 {
    font-size: 11px;
    line-height: 1.34;
    font-family: Helvetica, Arial, sans-serif;
    color: #777;
}

a:hover {
    text-decoration: underline;
}

.a {
    text-decoration: none;
    color: #385898;
    cursor: pointer;
}


.divlabel4 {
    margin-left: 12px;
    margin-top: -14px;
}

.label4 {
    font-size: 11px;
    line-height: 1.34;
    font-family: Helvetica, Arial, sans-serif;
    color: #777;
}


.singupbutton {
    width: 193px;
    border-radius: 6px;
    line-height: 33px;
    padding-top: 1px;
    margin-left: 115px;
    margin-top: 7px;
    background: #119F16;
    border: 1px solid #119F16;
    font-size: 18px;
    font-weight: bold;
    color: #EAECEF;
}



.alreadyaccount {
    color: #1877F2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-left: 116px;
    text-decoration: none;
}

.alink:link {
    text-decoration: none;
}



.invalid {
    border : 1px solid #FF0000;
}



.errorimg{
    background-image: url(img/icons!!.png);
    background-repeat: no-repeat;
    background-position: right 12.5px center;
    background-size: 17px;    
}



.whtYurFirstName {
    display: block;
    height: 17px;
    width: 114px;
    margin-right: -13px;
    margin-top: 4px;
    margin-left: -141px;
    position: absolute;
    font-size: 13.5px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
    padding-inline: 13px;
}


.firstNameArrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 234px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: 0px;
    margin-top: 16px;
    margin-left: -1px;
    z-index: 1;
    width: 11px;
    height: 20px;
    background-position: 0px -157px;
}


.whtYurSurName{
    display: block;
    height: 20px;
    width: 114px;
    margin-top: 63px;
    margin-left: 221px;
    float: left;
    position: absolute;
    font-size: 13.5px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
    padding-inline: 13px;
}

.surNameArrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 26px 233px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: -53px;
    margin-top: 53px;
    margin-left: 233px;
    z-index: 1;
    width: 32px;
    height: 14px;
    background-position: 5px -187px;
}


.whtYurEmail{
    display: block;
    height: 35px;
    width: 315px;
    margin-right: 0px;
    margin-top: 53px;
    margin-left: -342px;
    position: absolute;
    font-size: 13.5px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
}


.emailArrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 234px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: 0px;
    margin-top: 65px;
    margin-left: -1px;
    z-index: 1;
    width: 11px;
    height: 20px;
    background-position: 0px -157px;
}


.whtYurPassword{
    display: block;
    height: 35px;
    width: 305px;
    margin-right: 0px;
    margin-top: 101px;
    margin-left: -331px;
    position: absolute;
    font-size: 13.5px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
}


.passwordArrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 234px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: 0px;
    margin-top: 112px;
    margin-left: -1px;
    z-index: 1;
    width: 11px;
    height: 20px;
    background-position: 0px -157px;
}


.errorimgDOB{
    background-image: url(img/icons!!.png);
    background-repeat: no-repeat;
    background-position: top 160px right 31px;
    background-size: 17px;    
}

.whtYurDOB {
    display: block;
    height: 33px;
    width: 300px;
    margin-right: 0px;
    margin-top: 174px;
    margin-left: -330px;
    position: absolute;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
}


.DOBarrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 234px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: 0px;
    margin-top: 188px;
    margin-left: -2px;
    z-index: 1;
    width: 11px;
    height: 20px;
    background-position: 0px -157px;
}


.errorimgGender{
    background-image: url(img/icons!!.png);
    background-repeat: no-repeat;
    background-position: top 230px right 15px;
    background-size: 17px;    
}


.whtYurGender{
    display: block;
    height: 34.825px;
    max-width: 300px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    color: #fff;
    margin-right: 0px;
    margin-top: 250px;
    margin-left: -220px;
    position: absolute;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
}

.genderarrow{
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: 24px 234px;
    overflow: hidden;
    position: absolute;
    display: block;
    margin-right: 0px;
    margin-top: 260px;
    margin-left: 104px;
    z-index: 1;
    width: 11px;
    height: 20px;
    background-position: 0px -157px;
}

.genderInvalid{
    border : 1px solid #FF0000;
}



.firstregExpError::before {
    font-family: inherit;
    font-size: 12px;
    border: 1px solid #dd3c10;
    background: #ffebe8;
    line-height: 15px;
    text-align: center;
    opacity: 1;
    position: relative;
    padding: 7px 3px;
    margin-inline: 33px;
    margin-top: 12px;
    display: block;
    margin-bottom: 12px;
    content: "It looks like you've entered a mobile number or email address. Please enter your name.";
}


.surregExpError::before {
    font-family: inherit;
    font-size: 12px;
    border: 1px solid #dd3c10;
    background: #ffebe8;
    line-height: 15px;
    text-align: center;
    opacity: 1;
    position: relative;
    padding: 7px 3px;
    margin-inline: 33px;
    margin-top: 12px;
    display: block;
    margin-bottom: 12px;
    content: "It looks like you've entered a mobile number or email address. Please enter your surname.";
}


.regExpEmail::before{
    display: block;
    height: 35px;
    width: 315px;
    margin-right: 0px;
    margin-top: 53px;
    margin-left: -342px;
    position: absolute;
    font-size: 13.5px;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    border-radius: 2px;
    padding: 13px;
    padding-top: 15px;
    color: #fff;
    background-color: #be4b49;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    z-index: 1;
    content: "Please enter a valid mobile number or email address.";
}


.passwordRegExp::before {
    font-family: inherit;
    font-size: 12px;
    border: 1px solid #dd3c10;
    background: #ffebe8;
    line-height: 15px;
    text-align: center;
    opacity: 1;
    position: relative;
    padding: 7px 3px;
    margin-inline: 33px;
    margin-top: 12px;
    display: block;
    margin-bottom: 12px;
    content: "Please choose a more secure password. It should be longer than 6 characters, unique to you and difficult for others to guess.";
}